---
layout: default
title: About Me
---
/ use the :markdown filter if you want to write pages with Markdown
:markdown
  # About Me

  I am a full time University Lecturer and part-time open source software developer. I like to dabble with new programming languages and technologies and regularly play with Python, Ruby, Java, JavaScript, PHP, HTML, and CSS. I run several blogs including [Fresh and Crispy](http://blog.cpjobling.me) and [@the.coalface](http://blog.swansea.ac.uk/blog/eechris). 

  My current major project is *Proman*, a web application for Undergraduate Dissertation Projects, written in Ruby on Rails, that is hosted on [GitHub](http://github.com/cpjobling). The deployed branch is [Proman 2](http://github.com/cpjobling/Proman2) and there is a planned new development at [Proman 3](http://github.com/cpjobling/Proman-3). 